body{
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: border-box;
    font-family: "Montserrat",'sans-serif';
}
section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.p-t-100{
    padding-top: 100px !important;
}
.button-primary{
    padding:10px 20px !important;
    font-size: 1rem !important;
    background-image:linear-gradient(45deg,#673ab7 ,#9575cd  )!important ;
    border: 0px;
    color: #fff  ;   
}