body{
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: border-box;
    font-family: "Montserrat",'sans-serif';
}
.list-promise li{
    list-style: disc !important;   
}
.mt-5{
    margin-top:50px ;
}
.no-mar{
    margin:0px !important;
}
.no-pad{
    padding: 0px !important;
}
footer a{
    color: white;
}
footer p{
    color: white;
}
.footer-list>li{
    margin-top: 10px;
}
.pt-30{
    padding-top: 30px;
}
.pl-5{
    padding-left: 50px !important;
}
.p-10{
    padding: 10px;
}
p{
    color: #4b4b4b !important;
}
.display-2{
    font-size: 3rem;
}
.display-1{
    font-size: 2rem;
    margin: 0px 5px;
}
section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.p-t-100{
    padding-top: 100px !important;
}
.button-primary{
    padding:10px 20px !important;
    font-size: 1rem !important;
    background-image:linear-gradient(45deg,#673ab7 ,#9575cd  )!important ;
    border: 0px;
    color: #fff  ;   
}
blockquote{
    border-color: #9575cd;
}
